@import "animate.scss";
@import "normalize.scss";

body {
  font-family:'Press Start 2P', cursive;
  background-color: grey;
  text-align: center;
  vertical-align: middle;
  align-items: center;

  .tutorial {
    color: white;
    position: absolute;
    width: 40vw;
    padding: 0 30vw;
    margin: 5vh auto;
  }

  .container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: grey;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .player, .box {
      border: 1px solid black;
    }
    .player {
      background-image: url(/images/car-down.png);
      background-size: cover;
    }
    .cant-stand {
      background-color: brown;
    }
    .interact {
      background-color: grey;
    }
  }
  .status {
    display: none;
  }
  .next-level {
    display: none;
  }
  button {
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border: 5px solid white;
    outline: none;
    margin: 20px auto;
  }
  div {
    margin: 0;
    background-color: white;
    font-size: 25px;
    line-height: 7em;
  }
}
