@import "animate.scss";
@import "normalize.scss";

body {
  font-family:'Press Start 2P', cursive;
  background-color: grey;
  text-align: center;
  vertical-align: middle;
  align-items: center;

  .tutorial {
    color: white;
    position: absolute;
    width: 40vw;
    padding: 0 30vw;
    margin: 5vh auto;
  }

  .container {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: grey;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .box {
      background-image: url(/images/path.png);
      background-size: cover;
    }
    .player, .box {
      border: 1px solid black;
    }
    .player {
      position: relative;
      &:after {
        content: '';
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-image: url(/images/car-down.png);
        background-size: cover;
      }
      &.down:after {
        transform: rotate(0deg);
      }
      &.up:after {
        transform: rotate(180deg);
      }
      &.left:after {
        transform: rotate(90deg);
      }
      &.right:after {
        transform: rotate(-90deg);
      }
    }
    .playerImage {
      z-index: 1;
      height: 100%;
      line-height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    .cant-stand {
      background-image: url(/images/hedge.png);
      background-size: cover;
    }
    .key {
      position: relative;
      height: 30px;
      z-index: 0;
    }
    .finish {
      content: url(/images/closedGate.png);
      background-size: cover;
    }
    .lava {
      background-image: url(/images/lava.png)
    }
  }
  .status {
    display: none;
  }
  .next-level {
    display: none;
  }
  button {
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border: 5px solid white;
    outline: none;
    margin: 20px auto;
  }
  div {
    margin: 0;
    background-color: white;
    font-size: 25px;
    // line-height: 7em;
  }
}
